.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

#FAQ {
  position: relative;
  color: #1976d2; 
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}

.wrapper p {
  color: #1976d2;
  font-size: 15px;
}

.wrapper h1 {
  color: #1976d2;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.faq {
  margin-bottom: 10px;
  border: 1px solid #1976d2;
  border-radius: 5px;
}

.accordion {
  background-color: #e6f0ff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion.active,
.accordion:hover {
  background-color: #b3d9ff;
}

.accordion i {
  margin-left: auto;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 16px;
}

.panel p {
  margin: 18px 0;
}
