@tailwind base;

@layer base {
    html {
      @apply text-neutral-800;
    }
    html.dark {
      @apply text-neutral-50;
      @apply bg-neutral-800;
    }
  }
  
@tailwind components;
@tailwind utilities;

sup {
  font-size: 2rem;
  vertical-align: super;
}

/* .rowcard {
  display: flex;
  height: 50vh;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0px;
}

@media (max-width: 1064px) {
  .rowcard {
    flex-direction: column;
  }
} */
